#dashboard-container{
    margin: 10px 30px;
}
#goals-container{
    .example-card {
        max-width: 400px;
      }
}
#cashflow-container {
    .axis--x path {
    //display: none;
    }
    
    ::ng-deep.line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
}
    